# Firebase Configuration
VITE_FIREBASE_API_KEY=your_api_key
VITE_FIREBASE_AUTH_DOMAIN=foodcart-khata.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=foodcart-khata
VITE_FIREBASE_STORAGE_BUCKET=foodcart-khata.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=107000967755
VITE_FIREBASE_APP_ID=your_app_id

# OneSignal Configuration
VITE_ONESIGNAL_APP_ID=your_onesignal_app_id

# Optional: Use Firebase Emulator in development
# VITE_USE_FIREBASE_EMULATOR=true
